.ChatIonLabel {
    display: flex !important;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#AddStoryBtn{
    border: 2px solid #3949AB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ChatHeader{
    --ion-toolbar-background:#3949AB;
    /* background-color: red; */
}
ion-label{
    overflow:visible !important;
}
ion-icon{
    cursor: pointer;
}
.cursorPointer{
    cursor: pointer;
}
.senderChat{
    
    /* display: contents; */
    text-align: start;
}
.receiverChat{
    
    text-align: end;
    
    /* display: contents; */

}
.chat{
    overflow: auto;

}
.SendMessageInput{
    --ion-item-background:#303030;
    border-radius: 50px;

}
