@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Orbitron:wght@700&display=swap');
.ionTitle{
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 1.7rem;
    text-align: center;
    background-color: black;
    text-decoration: underline;
    text-decoration-thickness: 10px;
    margin-top: 15px;
    font-family: 'Dancing Script', sans-serif;
  }
  .subIonTitle{
    margin: auto;
    width: fit-content;
    display: block;
    text-align: center;
    font-family: monospace;
    opacity: 0.5 ;

}

.page-container:host{
      margin: auto !important;
}
.page-container {
  background:black;
  background-size: 100vw 100vw;
  /* background-blend-mode:difference; */
  max-width: 500px;
  background-position: center;
  display: block;
  margin: auto !important; 
}
.page-container img{
  background-color: black;
}

.page-container h1{
  padding: 15px;
  font-weight: 900;
  font-size: xx -large;
  color: rgb(241, 241, 241);
}
.page-container ion-nav-link{
  display: flex;
  flex-direction: column;

}
.page-container ion-button{
  /* padding: 15px; */
  
  font-size: large;
  letter-spacing: 1px;
  text-transform: inherit;
  width: 72vw;
  max-width: 250px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: 700;
  border-style: none;
  border-radius: 35px;
  border: none !important; 
  height: 62px;
  --border-style:none;

  outline: none;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}
.privacy-footer{

}
/* 
ion-button{ 
  background-color: aqua  ;
  border-radius: 4px;
} */